@charset "UTF-8";

img {
    border: 1px solid #000;
}

.main {
    padding: 5% 15%;
    }

    .main .nav {
        float: right;
        max-width: 25%;
        margin-left: 1rem;
    }

    .main h1 {
        font-size: 1.5em;
        }

    .main .article-footer {
        margin-top: 5rem;
    }

    .main .article h2 {
        margin-top: 2rem;
        border-bottom: 2px solid #d8edf4;
    }

    .main .article ul {
        padding-left: 1rem;
    }

    .main .article li {
        list-style: disc;
    }

    .main .article li li {
        list-style: circle;
    }

    .main code {
        color: #333;
        background: #f8f8f8;
        padding: .2em .3em;
}
