@charset "UTF-8";

img {
    border: 1px solid #000;
}

.main {
    padding: 5% 15%;
    }

    .main .nav {
        float: right;
        max-width: 25%;
        margin-left: 1rem;
    }

    .main h1 {
        font-size: 1.5em;
        }

        .main .title-link {
            text-decoration: none;
    }

    .main .article-footer {
        margin-top: 5rem;
}
