@charset "UTF-8";

img {
    border: 1px solid #000;
    max-width: 100%;
}

.main {
    padding: 0 15px;
    margin: 2rem auto;
    }

    .main h1 {
        font-size: 1.5em;
        }

    .main .article h2 {
        margin-top: 2rem;
        border-bottom: 2px solid #d8edf4;
    }

    .main .article ul {
        padding-left: 1rem;
        }

        .main .article ul li {
            list-style: disc;
        }

        .main .article ul li li {
            list-style: circle;
    }

    .main .article ol {
        padding-left: 1rem;
    }

    .main .article .footnotes ol li {
        font-size: 80%;
        margin: 0;
    }

    .main code {
        color: #333;
        background: #f8f8f8;
        padding: 2px 4px;
    }

    .main pre code {
        padding: 15px 10px;
    }

    .main .tags {
        display: inline-block;
        padding-left: 0 !important;
        margin: 0;
    }

    .main .tag {
        display: inline-block;
        background: #f8f8f8;
        padding: .2em .3em;
        margin-right: 5px;
    }

    .author-info {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    }

    .article-logo {
        border: none;
        margin-bottom: 1rem;
}

.article-body > h2 {
    clear: both;
}
.article-body li {
    margin: 10px;
}

.socials {
    margin: 0;
}

.social-icon {
    display: inline-block;
    margin-right: 5px;
}

.social-btn {
    display: inline-block;
    margin-right: 5px;
    margin-top: 1rem;
}

.social-btns {
    line-height: 12px;
}

.ad {
    max-width: 336px;
    min-width: 300px;
}

.tags-footer {
    margin-top: 2rem;
}

#TableOfContents {
    background: #f8f8f8;
    font-size: 90%;
    }
    #TableOfContents > ul {
        margin: 0;
        padding: 1rem;
        }
        #TableOfContents > ul li {
            margin: 0;
            line-height: 1.3rem;
        }

        #TableOfContents > ul > li {
            list-style: none;
            }
            #TableOfContents > ul > li > ul {
                margin: 0;
                padding: 0;
                }
                #TableOfContents > ul > li > ul > li {
                    list-style: none;
                    }

                    #TableOfContents > ul > li > ul > li > ul {
                        display: none;
}

@media (min-width: 768px) {
    .main {
        padding: 0 10%;
        }

        .main .article {
            float: left;
            width: 65%;
            margin-right: 2rem;
        }

        .main .sidenav {
            float: left;
            width: 30%;
            max-width: 336px;
    }
}

@media (min-width: 992px) {
    .main {
        width: 970px;
    }

    #TableOfContents {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 1170px;
    }
}
