@charset "UTF-8";

body {
    background: #fff;
    color: #333;
}

a {
    color: #4183c4;
    text-decoration: none;
    }

    a:hover, a:active {
        text-decoration: underline;
}

ul {
    padding-left: 0;
    }

    ul li {
        list-style: none;
}

figcaption {
    text-align: center;
}

.clear {
    clear: both;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-github-square {
    color: #000;
}

.fg-gray {
    color: #aaa;
}

.fa-tag {
    margin-right: 5px;
}
