@charset "UTF-8";

body {
    padding: 1rem;
    display: -webkit-box;
    display:    -moz-box;
    display:     -ms-box;
    display:      -o-box;
    display:         box;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-box-align: center;
         -o-box-align: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-box-pack: center;
         -o-box-pack: center;
}

li {
    list-style: none;
    padding: 5px 0;
}

.indent-2 {
    padding-left: 2rem;
}

.block {
    display: block;
}

.margin-top-1 {
    margin-top: 1rem;
}
