@charset "UTF-8";

img {
    border: 1px solid #000;
    max-width: 100%;
}

.header {
    padding: 1rem;
    }
    .header h1 {
        margin: 0;
}

.main {
    margin: 0 auto 2rem auto;
    letter-spacing: 0.5px;
    }

    .main h1 {
        font-size: 1.5em;
        }

    .main .section > * {
        padding: 15px;
    }

    .main .article h2 {
        margin-top: 2rem;
        border-bottom: 2px solid #d8edf4;
    }

    .main .article ul {
        padding-left: 1rem;
        }

        .main .article ul li {
            list-style: disc;
        }

        .main .article ul li li {
            list-style: circle;
    }

    .main .article ol {
        padding-left: 1rem;
    }

    .main .article .footnotes ol li {
        font-size: 80%;
        margin: 0;
    }

    .main code {
        color: #333;
        background: #f8f8f8;
        padding: 2px 4px;
    }

    .main pre {
        margin: 0;
        color: #333;
        background: #f8f8f8;
        padding: 0.5em 1em;
    }

    .main pre code {
        padding: 0;
    }

    .main .tags {
        display: inline-block;
        padding-left: 0 !important;
        margin: 0;
    }

    .main .tag {
        display: inline-block;
        background: #f8f8f8;
        padding: .2em .3em;
        margin-right: 5px;
    }

    .main .sidenav .donations .donation {
        margin-bottom: 1rem;
    }

    .main .sidenav .recent-articles,
    .main .sidenav .links {
        font-size: 90%;
    }

    .main .sidenav .recent-articles li,
    .main .sidenav .links li {
        margin-top: 0.3rem;
    }

    .author-info {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    }

    .article-logo {
        border: none;
        margin-bottom: 1rem;
}

.list-item {
    margin-bottom: 1rem;
}

.datetime {
    font-size: 90%;
    color: #999;
}

.article-header {
    margin-bottom: 2rem;
}

.article-body {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.article-body p {
    line-height: 1.7em;
}

.article-body > h2 {
    clear: both;
}
.article-body li {
    margin: 10px;
}

.socials {
    margin: 0;
}

.social-icon {
    display: inline-block;
    margin-right: 5px;
}

.social-btn {
    display: inline-block;
    margin-right: 5px;
    margin-top: 1rem;
}

.social-btns {
    line-height: 12px;
}

.ad {
    max-width: 336px;
    min-width: 300px;
}

.tags-footer {
    margin-top: 2rem;
}

#TableOfContents {
    background: #f8f8f8;
    font-size: 90%;
    }
    #TableOfContents > ul {
        margin: 0;
        padding: 1rem;
        }
        #TableOfContents > ul li {
            margin: 0;
            line-height: 1.7em;
        }

        #TableOfContents > ul > li {
            list-style: none;
            }
            #TableOfContents > ul > li > ul {
                margin: 0;
                padding: 0;
                }
                #TableOfContents > ul > li > ul > li {
                    list-style: none;
                    }

                    #TableOfContents > ul > li > ul > li > ul {
                        display: none;
}

.card-block {
    font-size: 85%;
    border: 1px solid #dbdfe4;
    padding: 10px;
    display: block;
    margin: 1rem 0;
    }

    .card-block:hover,
    .card-block:active,
    .card-block:focus {
        background: #f6f8f9;
        text-decoration: none;
    }
    .card-block .card-blockquote,
    .card-block .card-title,
    .card-block .card-description {
        margin: 0;
    }
    .card-block .card-description {
        height: 5em;
        overflow: hidden;
    }
    .card-block .card-image {
        width: 30%;
        float: left;
    }
    .card-block .card-summary {
        width: 64%;
        margin-left: 3%;
        float: left;
    }
    .card-block .card-title {
        display: inline-block;
    }
    .card-block .card-title:hover,
    .card-block .card-title:active,
    .card-block .card-title:focus {
        text-decoration: underline;
    }
    .card-block .card-description {
        color: #333;
        margin-top: 1ex;
    }
    .card-block .card-host {
        color: #7f919e;
        display: block;
        margin-top: 1ex;
}

@media (min-width: 768px) {
    .main {
        padding: 0 10%;
        }

        .main .article {
            float: left;
            width: 65%;
        }

        .main .sidenav {
            float: left;
            width: 30%;
            max-width: 336px;
    }
}

@media (min-width: 992px) {
    .main {
        width: 970px;
    }

    #TableOfContents {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 1170px;
    }

    .card-block {
        width: 65%;
    }
}
