@charset "UTF-8";

@mixin scrollbar {
    overflow-x: auto;
    display: block;

    &::-webkit-scrollbar {
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .2);
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

@mixin break {
    word-wrap: normal;
    overflow-wrap: normal;
    word-break: normal;
}

img {
    border: 1px solid #000;
    max-width: 100%;
}

.header {
    padding: 1rem;

    h1 {
        margin: 0;
    }
}

.main {
    margin: 0 auto 2rem auto;
    letter-spacing: 0.5px;

    h1 {
        font-size: 1.5em;
    }

    .section > * {
        padding: 15px;
    }

    .article {
        h2 {
            margin-top: 2rem;
            border-bottom: 2px solid #d8edf4;
        }

        ul {
            padding-left: 1rem;

            li {
                list-style: disc;
                li {
                    list-style: circle;
                }
            }
        }

        ol {
            padding-left: 1rem;
        }

        .footnotes ol li {
            font-size: 80%;
            margin: 0;
        }

    }


    code {
        color: #333;
        background: #f8f8f8;
        padding: 2px 4px;
        font-size: 90%;
    }

    pre {
        @include break();
        @include scrollbar();

        margin: 0;
        color: #333;
        background: #f5f5f5;
        padding: 0.5em 1em;

        code {
            padding: 0;
        }
    }

    .tags {
        display: inline-block;
        padding-left: 0 !important;
        margin: 0;
    }

    .tag {
        display: inline-block;
        background: #f8f8f8;
        padding: .2em .3em;
        margin-right: 5px;
    }

    .sidenav {
        .donations .donation {
            margin-bottom: 1rem;
        }

        .recent-articles,
        .links,
        .toc-nav {
            font-size: 90%;
            & li {
                margin-top: 0.3rem;
            }
        }

        .position-fixed-container {
            display: inline-block;
            max-width: 336px;
        }

        .toc {
            display: none; // hidden on mobile devices.
        }
    }

    .author-info {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
    }

    .article-logo {
        border: none;
        margin-bottom: 1rem;
    }
}

.tag-list {
    li {
        display: inline-block;
        margin-right: 10px;
    }
}

.list-item {
    margin-bottom: 1rem;
}

.datetime {
    font-size: 90%;
    color: #999;
}

.article-header {
    margin-bottom: 2rem;
}

.article-body {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;

    .highlight {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dataframe {
        @include break();
        @include scrollbar();

        border: none;
        white-space: nowrap;

        tr {
            border: none;
        }
        thead {
            border-bottom: 1px solid #000000;
        }
        tbody {
            tr {
                &:nth-child(odd) {
                    background: #f5f5f5;
                }
                &:hover {
                    background: rgba(66, 165, 245, 0.2);
                }
            }
        }
        th, td {
            border: none;
            font-size: 80%;
            padding: 0.5em;
        }
        td {
            text-align: right;
        }
    }

    p {
        line-height: 1.7em;
    }

    > h2 {
        clear: both;
    }

    li {
        margin: 10px;
    }

    figure {
        display: inline-block;
    }

    h1, h2, h3, h4, h5, h6 {
        &::before {
            display: block;
            content: " ";
            height: 20px;
            margin-top: -20px;
            visibility: hidden;
        }
    }
}

.socials {
    margin: 0;
}

.social-icon {
    display: inline-block;
    margin-right: 5px;
}

.social-btn {
    display: inline-block;
    margin-right: 5px;
    margin-top: 1rem;
}

.social-btns {
    line-height: 12px;
}

.ad {
    max-width: 336px;
    min-width: 300px;
}

.tags-footer {
    margin-top: 2rem;
}

.card-block {
    font-size: 85%;
    border: 1px solid #dbdfe4;
    padding: 10px;
    display: block;
    margin: 1rem 0;

    &:hover,
    &:active,
    &:focus {
        background: #f6f8f9;
        text-decoration: none;
    }
    .card-blockquote,
    .card-title,
    .card-description {
        margin: 0;
    }
    .card-description {
        height: 5em;
        overflow: hidden;
    }
    .card-image {
        height: 100px;
        float: left;
    }
    .card-summary {
        width: 64%;
        margin-left: 3%;
        float: left;
    }
    .card-title {
        display: inline-block;
        font-size: 1.2em;
    }
    .card-title:hover,
    .card-title:active,
    .card-title:focus {
        text-decoration: underline;
    }
    .card-description {
        color: #333;
        margin-top: 1ex;
    }
    .card-host {
        color: #7f919e;
        display: block;
        margin-top: 1ex;
    }
}

@media (min-width: 768px) {
    .main {
        padding: 0 10%;

        .article {
            float: left;
            width: 65%;
        }

        .sidenav {
            float: left;
            width: 30%;
            max-width: 336px;

            .toc {
                display: block;

                .toc-list {
                    // from fa-ul
                    $margin-left: 2.14285714em;

                    padding: 0;
                    list-style: none;
                    margin-left: $margin-left;

                    .toc-list-item {
                        &.is-active-li {
                            > .is-active-link {
                                font-weight: bold;
                            }

                            &::before {
                                display: inline-block;
                                content: "\f105";
                                font-family: FontAwesome;
                                font-weight: bold;
                                color: #aaa;
                                margin-left: -$margin-left;
                                width: $margin-left;
                                text-align: center;
                            }
                        }
                    }

                    .toc-list {
                        margin-left: 1em;

                        .toc-list-item {
                            &::before {
                                margin-right: 1em;
                                margin-left: -$margin-left - 1em;
                            }
                        }
                    }
                }
            }
        }
    }

    // For tocbot
    .is-position-fixed {
        position: fixed;
        top: 0;
    }
}

@media (min-width: 992px) {
    .main {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 1170px;
    }

    .card-block {
        width: 65%;
    }
}
