<section itemscope itemtype="http://schema.org/BlogPosting" class="section">
  <article class="article">
    <header class="article-header">
      <h1 itemprop="name headline"><a href="{{ .RelPermalink }}" class="title-link" itemprop="url">{{ .Title }}</a></h1>
      <p class="datetime">
        作成日時: <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="dateCreated">{{ .Date.Format "2006-01-02 15:04:05 -0700" }}</time>
        {{ if gt .Lastmod .Date }}
        <br>最終更新日時: <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="dateModified">{{ .Lastmod.Format "2006-01-02 15:04:05 -0700" }}</time>
        {{ end }}
      </p>
      {{ partial "tags" . }}
    </header>

    <div class="article-body" itemprop="articleBody">
      {{ with .Resources.GetMatch "logo.{jpg,png}" }}
        <img src="{{ (fingerprint .).RelPermalink }}" alt="" class="article-logo" itemprop="image">
      {{ end }}
      {{ replaceRE "(?s)(<h2.*?>.*)" (printf "%s$1" .TableOfContents) .Content | safeHTML }}
    </div>

    <footer class="tags-footer">
      {{ partial "tags" . }}
    </footer>

    <footer class="clear">
      {{ partial "social-buttons" . }}
    </footer>

    <footer class="clear ad">
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-6031962427645676"
           data-ad-slot="4527394341"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </footer>
  </article>

  <aside class="sidenav">
    <nav class="nav">
      {{ if .PrevInSection }}
        <h4>古い記事</h4>
        <p><a href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a></p>
      {{ end }}
      {{ if .NextInSection }}
        <h4>新しい記事</h4>
        <p><a href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a></p>
      {{ end }}
    </nav>

    <h4>著者</h4>
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
      <img src="{{ (resources.Get "image/thumbnail_w.png" | fingerprint).RelPermalink }}" alt="naoina" width="115" height="115" itemprop="image">
      <div class="author-info">
        <strong itemprop="name">naoina</strong>
        <ul class="socials">
          <li class="social-icon"><a href="{{ .Site.Params.twitter.url }}" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
          <li class="social-icon"><a href="{{ .Site.Params.github.url }}" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <h4>最近の記事</h4>
    <div class="recent-articles">
      <ul class="fa-ul">
        {{ range first 5 (.Site.GetPage "section" .Type).Pages.ByDate.Reverse }}
          <li><i class="fa fa-li fa-file-o fg-gray"></i><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
      <p><a href="{{ absURL .Section }}">すべての記事を見る</a></p>
    </div>

    <h4>リンク</h4>
    <div class="links">
      <ul class="fa-ul">
        <li><i class="fa fa-li fa-external-link fg-gray"></i><a href="https://naoina.info/" target="_blank">naoina.info</a></li>
        {{ range index (.Param "links") .Section }}
          <li><i class="fa fa-li fa-external-link fg-gray"></i><a href="{{ .url }}" target="_blank">{{ .name }}</a></li>
        {{ end }}
      </ul>
    </div>

    <div class="ad">
      <ins class="adsbygoogle"
           style="display:inline-block;width:336px;height:280px"
           data-ad-client="ca-pub-6031962427645676"
           data-ad-slot="7441894347"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </aside>
</section>
