<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="msapplication-config" content="none">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.logo }}
<meta property="og:image" content="{{.Site.BaseURL }}{{ partial "static" (add "image/" .Params.logo) }}">
{{ else }}
<meta property="og:image" content="{{.Site.BaseURL }}{{ partial "static" "/image/thumbnail_w.png" }}">
{{ end }}
<meta property="fb:app_id" content="{{ .Site.Params.facebook.appid }}">
<title>{{ if ne .Site.Title .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<link rel="canonical" href="{{ .Permalink }}">
{{ if .RSSLink }}<link rel="alternate" charset="UTF-8" type="application/rss+xml" title="{{ .Title }}" href="{{ .RSSLink }}">{{ end }}
<link rel="stylesheet" href="{{ partial "static" "/css/font-awesome.min.css" }}" media="all">
<link rel="stylesheet" href="{{ partial "static" "/css/normalize.css" }}" media="all">
<link rel="stylesheet" href="{{ partial "static" "/css/common.css" }}" media="all">
{{ partial "google-analytics.html" . }}
