<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="{{ partial "static" "/css/main.css" }}" media="all">
</head>
<body>
  <div class="main">
    <div class="inner">
      <h1>{{ .Site.Title }}</h1>
      <ul class="vcard">
        <li class="thumbnail">
          <img src="{{ partial "static" "/image/thumbnail_w.png" }}" width="180" height="180" alt="naoina">
        </li>
        <li>
          <ul class="links">
            <li>GitHub: <a href="{{ .Site.Params.github.url }}">{{ .Site.Params.github.user }}</a></li>
            <li>Twitter: <a href="{{ .Site.Params.twitter.url }}">{{ .Site.Params.twitter.user }}</a></li>
            <li><a href="{{ range first 1 .Site.Sections.text.Pages.ByPublishDate.Reverse }}{{ .Permalink }}{{ end }}">Blog</a> (in Japanese)</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
