<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="/css/main.css" media="all">
</head>
<body>
  <div class="main">
    <div class="inner">
      <h1>{{ .Site.Title }}</h1>
      <ul class="vcard">
        <li class="thumbnail">
          <img src="/image/thumbnail.png" width="180" height="180" alt="naoina">
        </li>
        <li>
          <ul class="links">
            <li>GitHub: <a href="https://github.com/naoina">naoina</a></li>
            <li>Twitter: <a href="https://twitter.com/naoina">naoina</a></li>
            <li><a href="/text/">Blog</a> (in Japanese)</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
