<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
  <meta property="og:type" content="article">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@naoina">
  <meta name="twitter:description" content="{{ substr .Summary 0 100 }}">
  {{ if .Params.logosmall }}
  <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ partial "static" (add "image/" .Params.logosmall) }}">
  {{ else }}
  <meta name="twitter:image" content="{{ partial "static" "/image/thumbnail_w.png" }}">
  {{ end }}
  <link rel="stylesheet" href="{{ partial "static" "/css/text.css" }}" media="all">
  <link rel="stylesheet" href="{{ partial "static" "/css/github.min.css" }}" media="all">
  <script src="{{ partial "static" "/js/highlight.pack.js" }}" onload="hljs.initHighlighting();" async></script>
  <script src="https://platform.twitter.com/widgets.js" async defer></script>
  <script src="https://b.st-hatena.com/js/bookmark_button.js" async defer></script>
  <script src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.6&appId=1711329939155199" async defer></script>
  <script src="https://apis.google.com/js/platform.js" async defer>{lang: 'ja'}</script>
</head>
<body>
  <div class="main">
    {{ .Render "article" }}
  </div>
</body>
</html>
