{{ $url := .Get "url" }}
{{ $path := replaceRE "^https?://" "/" $url }}
{{ with .Page.Resources.Get (path.Join $path "og.json") }}
{{ with . | unmarshal }}
<a href="{{ $url }}" class="card-block">
  <blockquote cite="{{ $url }}" class="card-blockquote">
    <img src="{{ .image }}" alt="" class="card-image" />
    <div class="card-summary">
      <strong class="card-title">{{ .title }}</strong>
      {{ if .description }}<p class="card-description">{{ .description }}</p>{{ end }}
      <span class="card-host">{{ replaceRE "^https?://([^/]+).*" "$1" (or .url $url) }}</span>
    </div>
  </blockquote>
  <div class="clear"></div>
</a>
<div class="clear"></div>
{{ end }}
{{ end }}
