<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="{{ partial "static" "/css/text.css" }}" media="all">
</head>
<body>
  <div class="main">
    <header>
      <a href="/">&larr;{{ .Site.Title }}</a>
    </header>
    <ul>
      {{ range .Site.Sections.text.Pages.ByPublishDate.Reverse }}
        <li>
          <p>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
            <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">{{ .PublishDate.Format "2006-01-02 15:04:05 -0700" }}</time>
          </p>
        </li>
      {{ end }}
    </ul>
  </div>
</body>
</html>
